<%- include('../partials/navbar') %>


<!-- <style>
	.class_of_charts .bb-title tspan:first-child { font-size: 17px; font-weight: bold; }
	.class_of_charts { padding: 0 5vw 0 2vw; }
</style> -->

<div id="wholepage">
	<!-- landing page -->
	<section>
		<div class="page" >
			<div class="slide">
				<div class="box"
					style="background-image : url('https://edc.nyc/sites/default/files/styles/16x9_md/public/2020-02/nycedc-insights-charts-header.png');
					background-repeat:no-repeat;background-size:cover;">
					<div class="leftlanding" style="background-color:rgba(0,0,0,0.55);">
						<div class="mid">
						<div class="mid" style="margin-top: 10vh; display: block;text-align:left;">
							<h1 style = "font-size:37px; font-family: 'gentona','Tahoma','sans-serif';">Analysis page for <%= data.Data.MSAName %>(<%= data.Data._id%>)  </h1>
                               <p style="margin : 30px;color: rgb(255,255,255);text-align:left;font-size:17	px;font-family: 'gentona','Tahoma','sans-serif';">
                               The Data is collected from real time transactions happening at the grass root level and are aggregated to provide useful insights which can help in identifying type and location of small merchants that are most affected. This data also reflect the buying patterns of the users combined with other statistics obtained from government data to reflect what is really happening at the bottommost level.</p>
                               <p style="margin : 30px;color: rgb(255,255,255);text-align:left;font-family: 'gentona','Tahoma','sans-serif';">
								<ul style="margin : 30px;color: rgb(255,255,255);font-family: 'gentona','Tahoma','sans-serif';">
								<li>Net Sales Growth</li>
								<li>Average Consumer Spending</li>
								<li>Frequency Of Transactions</li>
								<li>Unemployment Trends</li>
								<li>E-commerce and Non-Ecommerce Trends</li>
								<li>Top 5 Most Hit categories</li>
								</ul>
								</p>
						</div>
					</div>

					<div class="right1">
						

                               
						</div>
					</div>

				</div>
			</div>
			<div class="arrow">
			    <span></span>
			    <span></span>
			    <span></span>
			</div>
		</div>

	</section>

    <!-- 1st -->
	<!-- Revenue Loss -  "RevenueLoss" -->

	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box1">

					<div class="left">
						<div class="mid">
							<h1 style="color:white;">SALES GROWTH</h1>
							<p style="text-align: justify;color:white;"><i class="fa fa-chevron-circle-right"></i>This graph shows trend of monthly %change in revenue collection from sales of all categories in last 24 months.
							Revenue is a very important concept in economic analysis. It is directly influenced by sales level, i.e., as sales increases, revenue also increases.</p>
							<p style="margin-left:20px; margin-right:85px;">
								<ul class="fa fa-chevron-circle-right" style="text-align:justify; color:white; font-size:17px;margin-right: 15px;">
								Analysis
								<li><%= data.Data.insights.RevenueLoss[0] %></li>
								<li><%= data.Data.insights.RevenueLoss[1] %></li>
								<li><%= data.Data.insights.RevenueLoss[2] %></li>
							</ul></p>
						
						</div>

					</div>

					<div class="right" style="padding: 0 5vw 0 2vw;">
						<div class="mid">
							<div id="lineChart_m1" style="display: block;"></div>
							<div id="barChart_m1" style="display: none;"></div>
							<div id="areaSpline_m1" style="display: none;"></div>
							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart_m1','barChart_m1','areaSpline_m1')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart_m1','barChart_m1','areaSpline_m1')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart_m1','barChart_m1','areaSpline_m1')">Bar Chart</button>
							</div>
							<div style="position: absolute; bottom: 2px; font-size: small;color:black;">
									*Sources: Visa and US govt. APIs
								</div>	
						</div>

					</div>
                
				</div>
			</div>
		</div>
		
		<!-- Bar Chart -->
		

		<!-- areaSpline_m Chart -->
		
		
	</section>

    <!-- 2nd -->
	<!-- Average CardHolder Spent set of graphs -  -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box2">

					<div class="left1" >
						<div class="mid">
                            <div id="lineChart_m2" style="display: block;"></div>
							<div id="barChart_m2" style="display: none;"></div>
							<div id="areaSpline_m2" style="display: none;"></div>
							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart_m2','barChart_m2','areaSpline_m2')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart_m2','barChart_m2','areaSpline_m2')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart_m2','barChart_m2','areaSpline_m2')">Bar Chart</button>
							</div>

							<div style="position: absolute; bottom: 2px; font-size: small;color:black; margin-left:25px">
									*Sources: Visa and US govt. APIs
								</div>	
						</div>
					</div>

					<div class="right1" >
						<div class="mid">
							
							<h1 style="color:black;">Average Consumer Spending</h1>
							<p style="color:black;text-align: justify;"><i class="fa fa-chevron-circle-right"></i>This graph shows trend of monthly %change in consumer spending for last 24 months.
							Average consumer spending provides a good analysis regarding buying patterns of population.</p>
								 
								  </div>
								
					</div>

				</div>
			</div>
		</div>
	<!-- Bar Chart -->
		
		<!-- area spline chart -->
		


	</section>

    <!-- 3rd -->
	<!-- Card Transaction Frequency -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box3">

					<div class="left" >
						<div class="mid">
							<h1> Frequency Of Purchases</h1>
							<p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i>This graph shows trend of monthly %change in frequency of transactions in last 24 months.This provides insight regarding buying patterns of population.When analysed in parallel to average spending it provides a good measure to judge stockpiling phenomenona.</p>
							
						</div>
					</div>

					<div class="right" style="padding: 0 5vw 0 2vw;">
						<div class="mid">
							<div id="lineChart_m3" style="display: block;"></div>
							<div id="barChart_m3" style="display: none;"></div>
							<div id="areaSpline_m3" style="display: none;"></div>
							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart_m3','barChart_m3','areaSpline_m3')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart_m3','barChart_m3','areaSpline_m3')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart_m3','barChart_m3','areaSpline_m3')">Bar Chart</button>
							</div>
							<div style="position: absolute; bottom: 2px; font-size: small;color:black;">
									*Sources: Visa and US govt. APIs
								</div>	
						</div>	
					</div>

				</div>
			</div>
		</div>

		<!-- Bar Chart -->
		

	</section>

    <!-- 4th -->
	<!-- Unemployment Rate  of graphs -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box4">

					<div class="left1">
						<div class="mid">
                            <div id="lineChart_m4" style="display: block;"></div>
							<div id="barChart_m4" style="display: none;"></div>
							<div id="areaSpline_m4" style="display: none;"></div>
							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart_m4','barChart_m4','areaSpline_m4')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart_m4','barChart_m4','areaSpline_m4')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart_m4','barChart_m4','areaSpline_m4')">Bar Chart</button>
							</div>

							
							<div style="position: absolute; bottom: 2px; font-size: small;color:black; margin-left:25px">
									*Sources: Visa and US govt. APIs
								</div>
						</div>
					</div>

					<div class="right1">
						<div class="mid">
							<h1 style=color:black>Unemployment</h1>
							<p style="text-align: justify;color:black"><i class="fa fa-chevron-circle-right"></i>This graph shows trend of monthly %change in unemployment for last 24 months.This is helpful to get overview of employment status of market.</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	<!-- Bar Chart -->
		
		<!-- area spline chart -->
		

	</section>

    <!-- 5th -->
	<!-- E-comm and non e-comm line set of graphs -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box5">

					<div class="left">
						<div class="mid">
							<h1>E-commerce  Vs Non E-commerce</h1>
							<p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i>This graph shows trend of monthly %change in E-commerce and non E-commerce spending in last 24 months.The metric is helpful specially in pandemic period to judge buying pattern changes in market.</p>
							
						</div>
					</div>

					<div class="right" style="padding: 0 5vw 0 2vw;">
						<div class="mid">
							<div id="lineChart_m5" style="display: block;"></div>
							<div id="barChart_m5" style="display: none;"></div>
							<div id="areaSpline_m5" style="display: none;"></div>
							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart_m5','barChart_m5','areaSpline_m5')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart_m5','barChart_m5','areaSpline_m5')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart_m5','barChart_m5','areaSpline_m5')">Bar Chart</button>
							</div>

							<div style="position: absolute; bottom: 2px; font-size: small;color:black;">
									*Sources: Visa and US govt. APIs
								</div>	
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Bar Chart -->
	
	</section>

    <!-- 6th -->
	<!-- top 5 hit categories graphs -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box6">

					<div class="left1">
						<div class="mid">
                            <div id="lineChart_m6"></div>
                            <div id="lineChart_m6" style="display: block;"></div>
							<div id="barChart_m6" style="display: none;"></div>
							<div id="areaSpline_m6" style="display: none;"></div>
							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart_m6','barChart_m6','areaSpline_m6')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart_m6','barChart_m6','areaSpline_m6')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart_m6','barChart_m6','areaSpline_m6')">Bar Chart</button>
							</div>

							
							<div style="position: absolute; bottom: 2px; font-size: small;color:black; margin-left:25px">
									*Sources: Visa and US govt. APIs
								</div>
						</div>
					</div>

					<div class="right1">
						<div class="mid">
							<h1 style="color:black">TOP 5 CATEGORIES WITH HIGHEST DIP IN REVENUES</h1>
							<p style="color:black">This graph shows trend of monthly %change in revenue collection from sales of <%= data.Data.Top5HitCategories[0] %>, <%= data.Data.Top5HitCategories[1] %>, <%= data.Data.Top5HitCategories[2] %>, <%= data.Data.Top5HitCategories[3] %>, <%= data.Data.Top5HitCategories[4] %>  in last 24 months.</p>
							
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Bar Chart -->
		
		<!-- area spline chart -->
		

	</section>


</div>


<!-- Vertical & Horizontal slider for analysis and comparison pages -->
<script type="text/javascript" src="/script/slider.js"></script>

<!-- Script for graphs -->
<script type="text/javascript" src="/graphs/lineChart.js"></script>
<script type="text/javascript" src="/graphs/areaChart.js"></script>
<script type="text/javascript" src="/graphs/barChart.js"></script>

<script>

	new WholePageSlider({
		colors: ['#c0392b', '#e67e22', '#f39c12', '#f1c40f', '#000000', '#7F7FD5']
	});

    var parsed_data = <%- JSON.stringify(data) %>;

</script>


<script type="text/javascript" src="/analysis/msa.js"></script>


<%- include ('../partials/footer') %>