<%- include('../partials/navbar') %>


<!-- <style>
	.class_of_charts .bb-title tspan:first-child { font-size: 17px; font-weight: bold; }
	.class_of_charts { padding: 0 5vw 0 2vw; }
</style> -->

<div id="wholepage">
	<!-- landing page -->
	<section>
		<div class="slide">
			<div class="box"
				style="background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(118, 41, 96)), to(rgb(62, 55, 117)));">


				<div class="leftlanding">
					<div class="mid">
					</div>
				</div>

				<div class="right1">
					<div class="mid" style="margin-top: 10vh; display: block;">
						<h1>Analysis of Pincode <%= data.Data._id %>  </h1>

					</div>
				</div>

			</div>
		</div>
		<div class="arrow">
		    <span></span>
		    <span></span>
		    <span></span>
		</div>

	</section>

    <!-- 1st -->
	<!-- Revenue Loss -  "RevenueLoss" -->

	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box1">

					<div class="left">
						<div class="mid">
							<h1>Loss in Revenue</h1>
							<p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i> Line Chart</p>
						</div>
					</div>

					<div class="right" style="padding: 0 5vw 0 2vw;">
						<div class="mid">
							<div id="lineChart_p1" style="display: block;"></div>
							<div id="barChart_p1" style="display: none;"></div>
							<div id="areaSpline_p1" style="display: none;"></div>

							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart_p1','barChart_p1','areaSpline_p1')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart_p1','barChart_p1','areaSpline_p1')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart_p1','barChart_p1','areaSpline_p1')">Bar Chart</button>
							</div>
							
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Bar Chart -->
		

		<!-- areaSpline_p Chart -->
		

	</section>

    <!-- 2nd -->
	<!-- Average CardHolder Spent set of graphs -  -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box2">

					<div class="left1">
						<div class="mid">
								<div id="lineChart_p2" style="display: block;"></div>
								<div id="barChart_p2" style="display: none;"></div>
								<div id="areaSpline_p2" style="display: none;"></div>
	
								<div id ="buttonCtn" style="margin-left: 30%;">
								<!-- Buttons toggle karne ke liye -->
								<button class="btn btn-danger" onclick="showDiv1('lineChart_p2','barChart_p2','areaSpline_p2')">Line Chart</button>
								<button class="btn btn-success" onclick="showDiv2('lineChart_p2','barChart_p2','areaSpline_p2')">Area-Spline Chart</button>
								<button class="btn btn-dark" onclick="showDiv3('lineChart_p2','barChart_p2','areaSpline_p2')">Bar Chart</button>
								</div>
								
						</div>
					</div>

					<div class="right1">
						<div class="mid">
							<h1>Average CardHolder Spent</h1>
							<p>line chart</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		
		<!-- Bar Chart -->
		

		<!-- area spline chart -->
		

	</section>

    <!-- 3rd -->
	<!-- Card Transaction Frequency -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box3">

					<div class="left">
						<div class="mid">
							<h1>Average Transaction Frequency</h1>
							<p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i> Line Chart3.</p>
						</div>
					</div>

					<div class="right" style="padding: 0 5vw 0 2vw;">
						<div class="mid">
								<div id="lineChart_p3" style="display: block;"></div>
								<div id="barChart_p3" style="display: none;"></div>
								<div id="areaSpline_p3" style="display: none;"></div>
	
								<div id ="buttonCtn" style="margin-left: 30%;">
								<!-- Buttons toggle karne ke liye -->
								<button class="btn btn-danger" onclick="showDiv1('lineChart_p3','barChart_p3','areaSpline_p3')">Line Chart</button>
								<button class="btn btn-success" onclick="showDiv2('lineChart_p3','barChart_p3','areaSpline_p3')">Area-Spline Chart</button>
								<button class="btn btn-dark" onclick="showDiv3('lineChart_p3','barChart_p3','areaSpline_p3')">Bar Chart</button>
								</div>
								
							
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Bar Chart -->
		
		<!-- areaSpline_p Chart -->
		
	</section>



	    <!-- 5th -->
		<!-- top 5 hit categories graphs -->
		<section>
			<!-- line Chart -->
			<div class="page">
				<div class="slide">
					<div class="box5">

						<div class="left1">
							<div class="mid">
	                        <div id="lineChart_p5" style="display: block;"></div>
							<div id="barChart_p5" style="display: none;"></div>
							<div id="areaSpline_p5" style="display: none;"></div>

							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart_p5','barChart_p5','areaSpline_p5')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart_p5','barChart_p5','areaSpline_p5')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart_p5','barChart_p5','areaSpline_p5')">Bar Chart</button>
							</div></div>
						</div>

						<div class="right1">
							<div class="mid">
								<h1>top 5 hit categories</h1>
								<p>line chart6</p>
							</div>
						</div>

					</div>
				</div>
			</div>
			
			<!-- Bar Chart -->
		
	
		</section>



    <!-- 4th -->
	<!-- E-comm and non e-comm line set of graphs -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box4">

					<div class="left">
						<div class="mid">
							<h1>E- commerce and non E-commerce</h1>
							<p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i> Line Chart</p>
						</div>
					</div>

					<div class="right" style="padding: 0 5vw 0 2vw;">
						<div class="mid">
							<div id="lineChart_p4" style="display: block;"></div>
							<div id="barChart_p4" style="display: none;"></div>
							<div id="areaSpline_p4" style="display: none;"></div>

							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart_p4','barChart_p4','areaSpline_p4')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart_p4','barChart_p4','areaSpline_p4')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart_p4','barChart_p4','areaSpline_p4')">Bar Chart</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Bar Chart -->
		

		<!-- areaSpline_p Chart -->
	

	</section>


</div>


<!-- Vertical & Horizontal slider for analysis and comparison pages -->
<script type="text/javascript" src="/script/slider.js"></script>

<!-- Script for graphs -->
<script type="text/javascript" src="/graphs/lineChart.js"></script>
<script type="text/javascript" src="/graphs/areaChart.js"></script>
<script type="text/javascript" src="/graphs/barChart.js"></script>

<script>

	new WholePageSlider({
		colors: ['#c0392b', '#e67e22', '#f39c12', '#f1c40f', '#000000', '#7F7FD5']
	});

    var parsed_data = <%- JSON.stringify(data) %>;

</script>


<script type="text/javascript" src="/analysis/pincode.js"></script>


<%- include ('../partials/footer') %>