<%- include('../partials/navbar') %>


<!-- <style>
	.class_of_charts .bb-title tspan:first-child { font-size: 17px; font-weight: bold; }
	.class_of_charts { padding: 0 5vw 0 2vw; }
</style> -->



<!-- Modal for Pincode -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="color: black;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Pincode Analysis of <%= data.Data.StateName %> city</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/analysis/state/pincode" method="GET">
                    <div class="col-lg-12">
                        <p>Enter your pincode:- </p>
                        <input type="text" class="form-control" name="pin_code" required>
<!--                         <select class="form-control" name="pin_code" required>
                            <option value="10001">10001</option>
                            <option value="10001">10001</option>
                            <option value="10001">10001</option>
                            <option value="10001">10001</option>
                            <option value="10001">10001</option>
                        </select> -->
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-success" style="width:100%;">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->



<div id="wholepage">
	<!-- landing page -->
	<section>
		<div class="slide">
			<div class="box"
				style="background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(118, 41, 96)), to(rgb(62, 55, 117)));">


				<div class="leftlanding">
					<div class="mid">
						
					</div>
				</div>

				<div class="right1">
					<div class="mid" style="margin-top: 50vh; display: block; text-align: justify;">
						<h1>Analysis of <%= data.Data.StateName %> city </h1>
						<button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
							Know the details about your pincode
						</button>
					</div>
				</div>

			</div>
		</div>
		<div class="arrow">
		    <span></span>
		    <span></span>
		    <span></span>
		</div>

	</section>


	<!-- Revenue Loss -  "RevenueLoss" -->

	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box1">

					<div class="left">
						<div class="mid">
							<h1>Loss in Revenue</h1>
							<p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i> Line Chart</p>
						</div>
					</div>

					<div class="right" style="padding: 0 5vw 0 2vw;">
						<div class="mid">
							<div id="lineChart1" style="display: block;"></div>
							<div id="barChart1" style="display: none;"></div>
							<div id="areaSpline1" style="display: none;"></div>
							<div id ="buttonCtn" style="margin-left: 30%;">
								<!-- Buttons toggle karne ke liye -->
								<button class="btn btn-danger" onclick="showDiv1('lineChart1','barChart1','areaSpline1')">Line Chart</button>
								<button class="btn btn-success" onclick="showDiv2('lineChart1','barChart1','areaSpline1')">Area-Spline Chart</button>
								<button class="btn btn-dark" onclick="showDiv3('lineChart1','barChart1','areaSpline1')">Bar Chart</button> 
							</div>
							
							
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Bar Chart -->
	

		<!-- areaSpline Chart -->
		

	</section>


	<!-- Average CardHolder Spent set of graphs -  -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box2">

					<div class="left1">
						<div class="mid">
							<div id="lineChart2" style="display: block;"></div>
							<div id="barChart2" style="display: none;"></div>
							<div id="areaSpline2" style="display: none;"></div>

							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart2','barChart2','areaSpline2')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart2','barChart2','areaSpline2')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart2','barChart2','areaSpline2')">Bar Chart</button>						</div>
							</div>
						</div>

					<div class="right1">
						<div class="mid">
							<h1>Average CardHolder Spent</h1>
							<p>line chart</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	<!-- Bar Chart -->
		

		<!-- area spline chart -->
		


	</section>


	<!-- Card Transaction Frequency -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box3">

					<div class="left">
						<div class="mid">
							<h1>Average Transaction Frequency</h1>
							<p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i> Line Chart3.</p>
						</div>
					</div>

					<div class="right" style="padding: 0 5vw 0 2vw;">
						<div class="mid">
							<div id="lineChart3" style="display: block;"></div>
							<div id="barChart3" style="display: none;"></div>
							<div id="areaSpline3" style="display: none;"></div>

							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart3','barChart3','areaSpline3')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart3','barChart3','areaSpline3')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart3','barChart3','areaSpline3')">Bar Chart</button>
							</div>
							
							
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Bar Chart -->
		
		<!-- areaSpline Chart -->
		

	</section>


	<!-- Unemployment Rate  of graphs -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box4">

					<div class="left1">
						<div class="mid">
							<div id="lineChart4" style="display: block;"></div>
							<div id="barChart4" style="display: none;"></div>
							<div id="areaSpline4" style="display: none;"></div>

							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart4','barChart4','areaSpline4')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart4','barChart4','areaSpline4')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart4','barChart4','areaSpline4')">Bar Chart</button>						</div>
							</div>
						</div>

					<div class="right1">
						<div class="mid">
							<h1>Unemployment Rate of Graph</h1>
							<p>line chart4</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	<!-- Bar Chart -->
	
		<!-- area spline chart -->
	

	</section>


	<!-- E-comm and non e-comm line set of graphs -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box5">

					<div class="left">
						<div class="mid">
							<h1>E- commerce and non E-commerce</h1>
							<p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i> Line Chart</p>
						</div>
					</div>

					<div class="right" style="padding: 0 5vw 0 2vw;">
						<div class="mid">
							<div id="lineChart5" style="display: block;"></div>
							<div id="barChart5" style="display: none;"></div>
							<div id="areaSpline5" style="display: none;"></div>

							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart5','barChart5','areaSpline5')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart5','barChart5','areaSpline5')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart5','barChart5','areaSpline5')">Bar Chart</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Bar Chart -->
		

		<!-- areaSpline Chart -->
		

	</section>


	<!-- top 5 hit categories graphs -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box6">

					<div class="left1">
						<div class="mid">
							<div id="lineChart6" style="display: block;"></div>
							<div id="barChart6" style="display: none;"></div>
							<div id="areaSpline6" style="display: none;"></div>

							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
							<button class="btn btn-danger" onclick="showDiv1('lineChart6','barChart6','areaSpline6')">Line Chart</button>
							<button class="btn btn-success" onclick="showDiv2('lineChart6','barChart6','areaSpline6')">Area-Spline Chart</button>
							<button class="btn btn-dark" onclick="showDiv3('lineChart6','barChart6','areaSpline6')">Bar Chart</button>						</div>
							</div>
						</div>

					<div class="right1">
						<div class="mid">
							<h1>top 5 hit categories</h1>
							<p>line chart6</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	<!-- Bar Chart -->
		
		<!-- area spline chart -->
		

	</section>


</div>


<!-- Vertical & Horizontal slider for analysis and comparison pages -->
<script type="text/javascript" src="/script/slider.js"></script>

<!-- Script for graphs -->
<script type="text/javascript" src="/graphs/lineChart.js"></script>
<script type="text/javascript" src="/graphs/areaChart.js"></script>
<script type="text/javascript" src="/graphs/barChart.js"></script>

<script>

	new WholePageSlider({
		colors: ['#c0392b', '#e67e22', '#f39c12', '#f1c40f', '#000000', '#7F7FD5']
	});

    var parsed_data = <%- JSON.stringify(data) %>;

</script>


<script type="text/javascript" src="/analysis/state.js"></script>


<%- include ('../partials/footer') %>