<%- include('./partials/navbar') %>

<div id="wholepage">

    <!-- landing page -->
    <section>

        <div class="page">
            <div class="slide">
                <div class="box"
                    style="background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(118, 41, 96)), to(rgb(62, 55, 117)));">

                <div class="leftlanding">
                        <!-- <div id="maplanding">
                            <div class="row-map" style="padding-left: 8vw">
                                
                                <div id="clicked-state"></div>
                                <div class="map" id="map">
                                </div>
                                <div class="name" id="name">
                                    <span style="color: #007BFF;" >  </span>
                                    <p id="nameState" style="color: orange;"></p>
                                    <p id="Revenue" style="color: orange;"></p>
                                    <p id="Population" style="color: orange;"></p>
                                </div>
                            </div>
                        </div> -->
                    <div class="mid">
                        <div class="row-map" style="padding-left: 8vw">
                            
                            <div id="clicked-state"></div>
                            <div class="map" id="map"></div>
                        </div>

                        <!-- Creating Cards -->
                        <div class="scene">
                            <div class="card">
                                <div class="card__face" style="background-color: #ff073a;">
                                    <h5 id="countryToState">Country Name</h5>
                                    <h4 id="nameState"> USA <h4>
                                </div>
                            </div>
                            
                            
                            <div class="card">
                                <div class="card__face" style="background-color: #075BB9;">
                                    <h5>Population<h5>
                                    <h4 id="Population"> 17,63,885<h4>
                                </div>
                            
                            </div>
                            <div class="card">
                                <div class="card__face"
                                style="background-color: #28A745;">
                                    <h5>Revenue Loss<h5>
                                    <h4 id="Revenue">2.312<h4>
                                </div>
                            </div>
                        
                        </div>
                            <!-- <div class="scene" id="name">
                                <p id="nameState" style="color: orange;"></p>
                                <p id="Revenue" style="color: orange;"></p>
                                <p id="Population" style="color: orange;"></p>
                            </div> -->
                    </div>
                </div>

                    <div class="right1">
                        <div id="rightLanding" style="margin-top: 15vh;">
                            <h1>Analysis Of United States Of America.</h1> 
                        </div>
                        <!-- <div class="mid">
                            <h1>Most affected MSA's</h1>
                            <p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i>7602</p>
                            <h1>Most affected States</h1>
                            <p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i>NY</p>
                        
                        </div> -->
                    </div>

                </div>
            </div>
            <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </section>

    <!-- 1st -->
    <!-- Revenue Loss -  "RevenueLoss" -->
    <section>
        <!-- line Chart relative -->
        <div class="page">
            <div class="slide">
                <div class="box1">

                    <div class="left">
                        <div class="mid">
                            <h1 style="color:white;">SALES GROWTH</h1>
                            <p style="text-align: justify;color:white;"><i class="fa fa-chevron-circle-right"></i> This is the country centred, aggregated  sales
                                growth of all common categories for the last 24 months.The data for each month is taken relative to that of previous 
                                month.</p>
                                
                                <div style="position: absolute; bottom: 2px; font-size: small;color:white;">
                                    ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
                                    
                                </div>
                        </div>
                    </div>

                    <div class="right" style="padding: 0 5vw 0 2vw;">
                        <div class="mid">

                            <div id="lineChart_h1" style="display: block;"></div>
                            <div id="areaSpline_h1" style="display: none;"></div>

                           

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h1','areaSpline_h1')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h1','areaSpline_h1')">Area-Spline Chart</button>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box1">

                    <div class="left">
                        <div class="mid">
                            <h1 style="color:white;">SALES GROWTH(ABSOLUTE)</h1>
                            <p style="text-align: justify;color:white;"><i class="fa fa-chevron-circle-right"></i> This is the country centred, aggregated  sales
                                growth of all common categories for the last 24 months.The data of revenue statistics is absolute  and is represented as revenue loss/gain of sales for that particular month.
                            </p>
			.</p>
								
								<div style="position: absolute; bottom: 2px; font-size: small;color:white;">
									ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
									
								</div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="mid">

                            <div id="barChart_h1" style="display: block;"></div>
                            <div id="bubbleChart_h1" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h1','bubbleChart_h1')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h1','bubbleChart_h1')">Bubble Chart</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- areaSpline_h Chart -->
        


    </section>

    <!-- 2nd -->
    <!-- Average CardHolder Spent set of graphs -  -->
    <section>
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box2">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h2" style="display: block;"></div>
                            <div id="areaSpline_h2" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h2','areaSpline_h2')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h2','areaSpline_h2')">Area-Spline Chart</button>
                                                
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style="color:white;">AVERAGE CONSUMER SPENDING</h1>
							<p style="color:white;text-align: justify;"><i class="fa fa-chevron-circle-right"></i>This is the country centred, aggregated spending statistics of card-holders
								  for the last 24 months.The data for each month is taken relative to that of previous 
								  month.</p>
								  <div style="position: absolute; bottom: 2px; font-size: small;color:white;">
									ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
									
								</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box2">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h2" style="display: block;"></div>
                            <div id="bubbleChart_h2" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h2','bubbleChart_h2')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h2','bubbleChart_h2')">Bubble Chart</button>
                            
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style="color:white;">AVERAGE CONSUMER SPENDING(ABSOLUTE)</h1>
							<p style="color:white;text-align: justify;"><i class="fa fa-chevron-circle-right"></i>This is the country centred, aggregated spending statistics of card-holders
								  for the last 24 months.The data of spending statistics is absolute  and is represented as rise/fall in spending of consumers for that particular month.
								</p>
								  <div style="position: absolute; bottom: 2px; font-size: small;color:white;">
									ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
									
								</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- area spline chart -->
        


    </section>

    <!-- 3rd -->
    <!-- Card Transaction Frequency -->
    <section>
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box3">

                    <div class="left">
                        <div class="mid">
                            <h1> FREQUENCY OF PURCHASES</h1>
                            <p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i>This is the country centred, aggregated  
                                purchase frequency statistics for the last 24 months for all criteria.The data for each month is taken relative to that of previous 
                            month. </p>
                            <div style="position: absolute; bottom: 2px;font-size: small;color:white;">
                                ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
                                
                            </div>
                        </div>
                    </div>

                    <div class="right" style="padding: 0 5vw 0 2vw;">
                        <div class="mid">

                            <div id="lineChart_h3" style="display: block;"></div>
                            <div id="areaSpline_h3" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h3','areaSpline_h3')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h3','areaSpline_h3')">Area-Spline Chart</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box3">

                    <div class="left">
                        <div class="mid">
                            <h1> FREQUENCY OF PURCHASES(ABSOLUTE)</h1>
                            <p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i>This is the country centred, aggregated  
                                purchase frequency statistics for the last 24 months for all criteria.The data of purchase statistics is absolute  and is represented as rise/fall in frequency of 
                                purchases for that particular month.
                         </p>
                            <div style="position: absolute; bottom: 2px;font-size: small;color:white;">
                                ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
                                
                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="mid">
                            <div id="barChart_h3" style="display: block;"></div>
                            <div id="bubbleChart_h3" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h3','bubbleChart_h3')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h3','bubbleChart_h3')">Bubble Chart</button>
                                                    
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- areaSpline_h Chart -->
        

    </section>

    <!-- 4th-15th -->
    <!-- Unemployment Rate Graphs -->
    <section>
        <!-- 4th -->
        <!-- 20 yrs & over men-->
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h4" style="display: block;"></div>
                            <div id="areaSpline_h4" style="display: none;"></div>
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h4','areaSpline_h4')">Line
                                Chart</button>
                            <button class="btn btn-success"
                                onclick="showDiv2('lineChart_h4','areaSpline_h4')">Area-Spline Chart</button>
                        </div>

                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE</h1>
							<p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
								Unemployment rate statistics for the last 24 months for all the categories.The data for each month is taken relative to that of previous 
							month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h4" style="display: block;"></div>
                            <div id="bubbleChart_h4" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h4','bubbleChart_h4')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h4','bubbleChart_h4')">Bubble Chart</button>
                                                    
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE(ABSOLUTE)</h1>
                            <p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
                                Unemployment rate statistics for the last 24 months for all the categories.The data of Unemployment statistics is absolute  and is represented as rise/fall in employments
                                for all categories  for that particular month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- area spline chart -->
        

        <!-- 5th -->
        <!-- 20 yrs & over women -->
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h5" style="display: block;"></div>
                            <div id="areaSpline_h5" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h5','areaSpline_h5')">Line
                                Chart</button>
                            <button class="btn btn-success"
                                onclick="showDiv2('lineChart_h5','areaSpline_h5')">Area-Spline Chart</button>
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE FOR WOMEN</h1>
							<p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
								Unemployment rate statistics (women) for the last 24 months for all the categories.The data for each month is taken relative to that of previous 
							month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h5" style="display: block;"></div>
                            <div id="bubbleChart_h5" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h5','bubbleChart_h5')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h5','bubbleChart_h5')">Bubble Chart</button>
                                                    
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE FOR WOMEN(ABSOLUTE)</h1>
                            <p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
                                Unemployment rate statistics for the last 24 months for all the categories.The data of Unemployment statistics(women) is absolute  and is represented as rise/fall in employments
                                for all categories  for that particular month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- area spline chart -->
        

        <!-- 6th -->
        <!-- 16-19 yrs -->
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h6" style="display: block;"></div>
                            <div id="areaSpline_h6" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h6','areaSpline_h6')">Line
                                Chart</button>
                            <button class="btn btn-success"
                                onclick="showDiv2('lineChart_h6','areaSpline_h6')">Area-Spline Chart</button>
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE 1</h1>
							<p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
								Unemployment rate statistics for the last 24 months for all the categories.The data for each month is taken relative to that of previous 
							month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h6" style="display: block;"></div>
                            <div id="bubbleChart_h6" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h6','bubbleChart_h6')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h6','bubbleChart_h6')">Bubble Chart</button>
                                                    
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE(ABSOLUTE)2</h1>
                            <p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
                                Unemployment rate statistics for the last 24 months for all the categories.The data of Unemployment statistics is absolute  and is represented as rise/fall in employments
                                for all categories  for that particular month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- area spline chart -->
        
        


        <!-- 7th -->
        <!-- White Abs -->
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h7" style="display: block;"></div>
                            <div id="areaSpline_h7" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h7','areaSpline_h7')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h7','areaSpline_h7')">Area-Spline Chart</button>                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE WHITE</h1>
							<p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
								Unemployment rate statistics for the last 24 months for all the categories.The data for each month is taken relative to that of previous 
							month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h7" style="display: block;"></div>
                            <div id="bubbleChart_h7" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h7','bubbleChart_h7')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h7','bubbleChart_h7')">Bubble Chart</button>
                            
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE WHITE(ABSOLUTE)2</h1>
                            <p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
                                Unemployment rate statistics for the last 24 months for all the categories.The data of Unemployment statistics is absolute  and is represented as rise/fall in employments
                                for all categories  for that particular month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- area spline chart -->

        <!-- 8th -->
        <!-- Black -->
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h8" style="display: block;"></div>
                            <div id="areaSpline_h8" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h8','areaSpline_h8')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h8','areaSpline_h8')">Area-Spline Chart</button>                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE BLACK</h1>
							<p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
								Unemployment rate statistics for the last 24 months for all the categories.The data for each month is taken relative to that of previous 
							month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h8" style="display: block;"></div>
                            <div id="bubbleChart_h8" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h8','bubbleChart_h8')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h8','bubbleChart_h8')">Bubble Chart</button>
                                                    
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE BLACK(ABSOLUTE)2</h1>
                            <p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
                                Unemployment rate statistics for the last 24 months for all the categories.The data of Unemployment statistics is absolute  and is represented as rise/fall in employments
                                for all categories  for that particular month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- area spline chart -->

        <!-- 9th -->
        <!-- asia -->
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h9" style="display: block;"></div>
                            <div id="areaSpline_h9" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h9','areaSpline_h9')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h9','areaSpline_h9')">Area-Spline Chart</button>                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE ASIA</h1>
							<p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
								Unemployment rate statistics for the last 24 months for all the categories.The data for each month is taken relative to that of previous 
							month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h9" style="display: block;"></div>
                            <div id="bubbleChart_h9" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h9','bubbleChart_h9')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h9','bubbleChart_h9')">Bubble Chart</button>
                            
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE ASIA(ABSOLUTE)</h1>
                            <p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
                                Unemployment rate statistics for the last 24 months for all the categories.The data of Unemployment statistics is absolute  and is represented as rise/fall in employments
                                for all categories  for that particular month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- area spline chart -->
        

        <!-- 10th -->
        <!-- hispanic -->
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h10" style="display: block;"></div>
                            <div id="areaSpline_h10" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h10','areaSpline_h10')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h10','areaSpline_h10')">Area-Spline Chart</button>                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE HISPANIC</h1>
							<p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
								Unemployment rate statistics for the last 24 months for all the categories.The data for each month is taken relative to that of previous 
							month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h10" style="display: block;"></div>
                            <div id="bubbleChart_h10" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h10','bubbleChart_h10')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h10','bubbleChart_h10')">Bubble Chart</button>
                            
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE HISPANIC(ABSOLUTE)</h1>
                            <p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
                                Unemployment rate statistics for the last 24 months for all the categories.The data of Unemployment statistics is absolute  and is represented as rise/fall in employments
                                for all categories  for that particular month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- area spline chart -->
      

        <!-- 11th -->
        <!-- high scl DP. -->
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h11" style="display: block;"></div>
                            <div id="areaSpline_h11" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h11','areaSpline_h11')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h11','areaSpline_h11')">Area-Spline Chart</button>                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE HIGH SCL DP</h1>
							<p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
								Unemployment rate statistics for the last 24 months for all the categories.The data for each month is taken relative to that of previous 
							month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h11" style="display: block;"></div>
                            <div id="bubbleChart_h11" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h11','bubbleChart_h11')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h11','bubbleChart_h11')">Bubble Chart</button>
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE HIGH SCL DP(ABSOLUTE)</h1>
                            <p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
                                Unemployment rate statistics for the last 24 months for all the categories.The data of Unemployment statistics is absolute  and is represented as rise/fall in employments
                                for all categories  for that particular month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- area spline chart -->
     

        <!-- 12th -->
        <!-- high scl grad -->
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h12" style="display: block;"></div>
                            <div id="areaSpline_h12" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h12','areaSpline_h12')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h12','areaSpline_h12')">Area-Spline Chart</button>                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE HIGH SCL GRAD</h1>
							<p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
								Unemployment rate statistics for the last 24 months for all the categories.The data for each month is taken relative to that of previous 
							month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h12" style="display: block;"></div>
                            <div id="bubbleChart_h12" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h12','bubbleChart_h12')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h12','bubbleChart_h12')">Bubble Chart</button>
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE HIGH SCL GRAD(ABSOLUTE)</h1>
                            <p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
                                Unemployment rate statistics for the last 24 months for all the categories.The data of Unemployment statistics is absolute  and is represented as rise/fall in employments
                                for all categories  for that particular month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- area spline chart -->
       

        <!-- 13th -->
        <!-- Clg or ass. de -->
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h13" style="display: block;"></div>
                            <div id="areaSpline_h13" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h13','areaSpline_h13')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h13','areaSpline_h13')">Area-Spline Chart</button>                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE COLLEGE</h1>
							<p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
								Unemployment rate statistics for the last 24 months for all the categories.The data for each month is taken relative to that of previous 
							month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h13" style="display: block;"></div>
                            <div id="bubbleChart_h13" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h13','bubbleChart_h13')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h13','bubbleChart_h13')">Bubble Chart</button>
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE COLLEGE OR ASS. DE(ABSOLUTE)</h1>
                            <p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
                                Unemployment rate statistics for the last 24 months for all the categories.The data of Unemployment statistics is absolute  and is represented as rise/fall in employments
                                for all categories  for that particular month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- area spline chart -->
       
        <!-- 14th -->
        <!-- bach deg -->
        <!-- line Chart -->

        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h14" style="display: block;"></div>
                            <div id="areaSpline_h14" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h14','areaSpline_h14')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h14','areaSpline_h14')">Area-Spline Chart</button>                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE AMONG GRADUATES</h1>
							<p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
								Unemployment rate statistics for the last 24 months among people with a bachelor degree.The data for each month is taken relative to that of previous 
							month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box4">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h14" style="display: block;"></div>
                            <div id="bubbleChart_h14" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h14','bubbleChart_h14')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h14','bubbleChart_h14')">Bubble Chart</button>
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style=color:white>UNEMPLOYMENT RATE AMONG GRADUATES(ABSOLUTE)</h1>
                            <p style="text-align: justify;color:white"><i class="fa fa-chevron-circle-right"></i>>This is the country centred, aggregated  
                                Unemployment rate statistics for the last 24 months among people with a bachelor degree.The data of Unemployment statistics is absolute  and is represented as rise/fall in employments
                                among people with a bachelor degree  for that particular month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- area spline chart -->
        
    </section>


    <!-- 15th -->
    <!-- E-comm and non e-comm line set of graphs -->
    <section>
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box5">

                    <div class="left">
                        <div class="mid">
                            <h1>E-COMMERCE  VS </br>NON E-COMMERCE</h1>
                            <p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i> This is the country centred
                             statistics for E-commerce spent vs non E-commerce spent for the last 24 months.The data for each month is taken relative to that of previous 
                            month.</p>
                            <div style="position: absolute; bottom: 2px; font-size: small;color:white">
                                ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
                                
                            </div>
                        </div>
                    </div>

                    <div class="right" style="padding: 0 5vw 0 2vw;">
                        <div class="mid">
                            <div id="lineChart_h15" style="display: block;"></div>
                            <div id="areaSpline_h15" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h15','areaSpline_h15')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h15','areaSpline_h15')">Area-Spline Chart</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box5">

                    <div class="left">
                        <div class="mid">
                            <h1>E-COMMERCE  VS </br>NON E-COMMERCE (ABSOLUTE)</h1>
                            <p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i> This is the location filtered 
                             statistics for E-commerce spent vs non E-commerce spent for the last 24 months.The data of statistics for both is absolute  and is represented as rise/fall in revenue generation 
                             of E-Commerce and Non E-commerce businesses for that particular month.
                        </p>
                            <div style="position: absolute; bottom: 2px; font-size: small;color:white">
                                ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
                                
                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="mid">
                            <div id="barChart_h15" style="display: block;"></div>
                            <div id="bubbleChart_h15" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h15','bubbleChart_h15')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h15','bubbleChart_h15')">Bubble Chart</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- areaSpline_h Chart -->
        

    </section>

    <!-- 16th -->
    <!-- top 5 hit categories graphs -->
    <section>
        <!-- line Chart -->
        <div class="page">
            <div class="slide">
                <div class="box6">

                    <div class="left1">
                        <div class="mid">
                            <div id="lineChart_h16" style="display: block;"></div>
                            <div id="areaSpline_h16" style="display: none;"></div>

                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv1('lineChart_h16','areaSpline_h16')">Line Chart</button>
                            <button class="btn btn-success" onclick="showDiv2('lineChart_h16','areaSpline_h16')">Area-Spline Chart</button>                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style="color:WHITE">TOP 5 CATEGORIES WITH HIGHEST DIP IN REVENUES</h1>
                            <p style="color:white">This is the country centred
                                statistics for relative revenue generation for 5 worst hit categories(Hall,Casino,Charity,Mass Media Books and travel)for the last 24 months.
                                The data for each month is taken relative to that of previous 
                               month.</p>
                               <div style="position: absolute; bottom: 2px; font-size: small;color:white">
                                ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="page">
            <div class="slide">
                <div class="box6">

                    <div class="left1">
                        <div class="mid">
                            <div id="barChart_h16" style="display: block;"></div>
                            <div id="bubbleChart_h16" style="display: none;"></div>
                            
                            <!-- Buttons toggle karne ke liye -->
                            <button class="btn btn-danger" onclick="showDiv3('barChart_h16','bubbleChart_h16')">Bar Chart</button>
                            <button class="btn btn-success" onclick="showDiv4('barChart_h16','bubbleChart_h16')">Bubble Chart</button>
                        </div>
                    </div>

                    <div class="right1">
                        <div class="mid">
                            <h1 style="color:WHITE">TOP 5 CATEGORIES WITH HIGHEST DIP IN REVENUES(ABSOLUTE)</h1>
                            <p style="color:white">This is the country centred
                                statistics of revenue generation for 5 worst hit categories(Hall,Casino,Charity,Mass Media Books and travel)for the last 24 months.
                                The data of statistics for all categories is absolute and is represented as rise/fall in revenue generation 
                             of these businesses for that particular month.</p>
                               <div style="position: absolute; bottom: 2px; font-size: small;color:white">
                                ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- area spline chart -->
        
    </section>



</div>


<!-- Vertical & Horizontal slider for analysis and comparison pages -->
<script type="text/javascript" src="/script/slider.js"></script>

<!-- Script for graphs -->
<script type="text/javascript" src="/graphs/lineChart.js"></script>
<script type="text/javascript" src="/graphs/areaChart.js"></script>
<script type="text/javascript" src="/graphs/barChart.js"></script>
<script type="text/javascript" src="/graphs/bubbleChart.js"></script>

<script>
    new WholePageSlider({
        colors: ['#c0392b', '#e67e22', '#f39c12', '#f1c40f', '#000000', '#7F7FD5']
    });

    var parsed_data = <%- JSON.stringify(data) %> ;
</script>


<script type="text/javascript" src="/analysis/country.js"></script>


<%- include ('./partials/footer') %>