<%- include('./partials/navbar') %>
<div id="wholepage">
    <section>
        <div class="page">
            <div class="slide">
                <div class="box" style="background:#573E8A;">

                    <div class="left">
                        <div class="mid">
                            <h1 style="color:white;">SALES GROWTH(ABSOLUTE)</h1>
                            <p style="text-align: justify;color:white;"><i class="fa fa-chevron-circle-right"></i> This
                                is the country centred, aggregated sales
                                growth of all common categories for the last 24 months.The data of revenue statistics is
                                absolute and is represented as revenue loss/gain of sales for that particular month.
                            </p>
                            .</p>

                            <div style="position: absolute; bottom: 2px; font-size: small;color:white;">
                                ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs

                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="mid">
                           <div id="world-map"></div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>




<script type="text/javascript" src="/script/worldmap.js"></script>
<script type="text/javascript" src="/script/slider.js"></script>


<%- include('./partials/footer') %>