.background {
    fill: none;
    pointer-events: all;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5;
    stroke-opacity: .7;
}

#dma-borders {
    fill: none;
    stroke: black;
    stroke-width: 0.7;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

#textbox {
    position: absolute;
    top: 400px;
    left: 50px;
    width: 275px;
    height: 100px;
}

#textbox text p {
    font-family: Arial, Helvetica;
    font-size: .8em;
    margin: 0;
}

