header {
    height: 80px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    -webkit-transition: .5s ease;
    background-color: black;
    transition: .5s ease;
    border-bottom: 1px solid #ffffff4f;
}

.logo {
    width: 150px;
    height: 100%;
    float: left;
    margin-top: 20px;
    margin-left: 100px;
    color: white;
}

.tags {
    float: right;
    padding: 28px;
    /* margin-right: 100px; */
    -webkit-transition: 1s ease;
    /* Safari */
    transition: 1s ease;
}

.tags a {

    margin: 5px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 13px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 15px;
    -webkit-transition: .5s ease;
    /* Safari */
    transition: .5s ease;
}

.tags a:hover {
    background: #ffffff;
    color: rgb(47, 54, 64);
    box-shadow: 0px 0px 30px 2px #3768b48a;
}

.logo {
    width: 150px;
    height: 100%;
    float: left;
    margin-top: 20px;
    margin-left: 75px;
    background: url('img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

header .container {
    width: 96%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

header .container .dropb {
    font-size: 20px;
    color: #ffffff;
    float: right;
    padding: 0px;
    opacity: .9;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

@media screen and (max-width: 1280px) {
    .tags {
        max-height: 0px;
        width: 100%;
        text-align: center;
        padding: 0px;
        overflow: hidden;
        float: right;
        padding: 0px;
        margin: 0px;
        background: #f5f6fa;
        position: fixed;
        top: 80px;
    }

    .tags a:hover {
        box-shadow: 0px 0px 0px 0px;
    }

    header .container .dropb {
        width: 40px;
        height: 100%;
        padding-right: 40px;
        display: table;
    }

    header .container {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .tags a {
        width: 49%;
        display: inline-block;
        background: #f5f6fa;
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
        color: #000000ad;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 570px) {

    header .logo {
        margin-left: 40px;
    }

    header .container .dropb {
        padding-right: 20px;
    }
}

@media screen and (max-width: 380px) {
    header .container .logo {
        width: 0px;
        height: 0px;
        margin: 0px;
        padding: 0px;
    }

    header .container .dropb {
        padding-right: 20px;
    }
}