.section {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.map {
    width: 600px;
    height: 400px;
    display: inline-block;
    /*background-color: white;*/
}

.name {
    font-size: 20px;
    font-family: "Lato";
    font-weight: bold;
    color: #000000;
    padding-top: 0px;
    padding-right: 10px;
    /* padding-bottom: 10px; */
    padding-left: 10px;
    /* margin-bottom: 40px;  */
}

svg path {
    stroke-width: 1px;
    stroke: black;
}



.scene {
    width: 700px;
    display: flex;
    flex-direction: row;
    /* perspective: 800px; */
    /* margin-right: 20%; */
}
.card {
    position: relative;
    width: 210px;
    height: 90px;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    margin-right: 5%;
    margin-left: 5%;
}


.card__face {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: .25rem;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
