.mid
{
	display: table-cell;
	vertical-align: middle;
}

.slide
{
	width: 100%;
	height: 500%;
	background:#eee;
	position: relative;
}

.slide .left
{
	width: 40%;
	height: 100%;
	text-align: center;
	float: left;
	display: table;
}

.slide .left h1
{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: #ffffff;
	font-size: 40px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

.slide .left p
{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: #ffffff;
	font-size: 20px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	margin-top: 5%;
}

.slide .left p
{
	padding-left: 80px;
	padding-right: 80px;
}


.slide .right
{
	width: 60%;
	height: 100%;
	text-align: center;
	float: right;
	background: #ffffff;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	display: table;
	text-align: left;
	line-height: 22px;
	font-size: 15px;
}

/*.slide .right p
{
	padding-left: 80px;
	padding-right: 80px;
}*/

/*.slide .right a
{
	font-size: 12px;
	letter-spacing: 3px;
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 50px;
	-webkit-transition: .5s ease;
    transition: .5s ease;
    margin-left: 80px;
    background: #1bbc9b;	
	color: #ffffff;
	border:5px solid #1bbc9b;	
}*/

/*.slide .right a i
{
	padding-left: 2px;
	font-size: 18px;
}

.slide .right a:hover
{
	background:#1bbc9b00;
	color: #1bbc9b;
}*/



/* Custom Styling added */
.slide .leftlanding {
	width: 60%;
	height: 100%;
	text-align: center;
	float: left;
	/* background: #FCFCFC; */
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	display: table;
	text-align: left;
	line-height: 22px;
	font-size: 15px;
}

.slide .leftlanding h1
{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: #FCFCFC;
	font-size: 40px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}
.slide .left1
{
	width: 60%;
	height: 100%;
	text-align: center;
	float: left;
	background: #ffffff;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	display: table;
	text-align: left;
	line-height: 22px;
	font-size: 15px;
}

.slide .right1
{
	width: 40%;
	height: 100%;
	text-align: center;
	float: right;
	display: table;
}

.slide .right1 h1
{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: #ffffff;
	font-size: 40px;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.slide .right1 p
{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: #ffffff;
	font-size: 20px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	margin-top: 5%;
}

.slide .right1 p
{
	padding-left: 80px;
	padding-right: 80px;
}


.box1
{
	width: 100%;
	height: 100%;
	background: #c0392b;
	display: inline-block;
	background-image: url(/images/slide_left.png);
	background-size: cover;
}

.box2
{
	width: 100%;
	height: 100%;
	background: #e67e22;
	background-image: url("/images/slide_right.png");
	display: inline-block;
	background-size: cover;
}

.box3
{
	width: 100%;
	height: 100%;
	background: #f39c12;
	background-image: url("/images/slide_left.png");
	display: inline-block;
	background-size: cover;
}

.box4
{
	width: 100%;
	height: 100%;
	background: #f1c40f;
	background-image: url("/images/slide_right.png");
	display: inline-block;
	background-size: cover;
}

.box5
{
	width: 100%;
	height: 100%;
	background: #000000;
	background-image: url("/images/slide_left.png");
	display: inline-block;
	background-size: cover;
}

.box6
{
	width: 100%;
	height: 100%;
	/*background: #e67e22;*/
	background-image: url("/images/slide_right.png");
	display: inline-block;
	background-size: cover;
	background: #7F7FD5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, 
	Opera 12+, Safari 7+ */
}

.box {
	width: 100%;
	height: 100%;
	/* background: #c0392b; */
	display: inline-block;

	/* background-image: url(/images/slide_left.png); */
	/* background-size: cover; */
}




/* Down arrow for landing pages */
.arrow{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}