<%- include('../partials/navbar') %>


<!-- <style>
	.class_of_charts .bb-title tspan:first-child { font-size: 17px; font-weight: bold; }
	.class_of_charts { padding: 0 5vw 0 2vw; }
</style> -->

<div id="wholepage">
	<!-- landing page -->
	<section>
		<div class="slide">
			<div class="box"
				style="background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(118, 41, 96)), to(rgb(62, 55, 117)));">


				<div class="leftlanding">
					<div class="mid">
					</div>
				</div>

				<div class="right1">
					<div class="mid" style="margin-top: 10vh; display: block;">
						<h1>Comparison of <%= granularity %> - <%= comparators %></h1>

					</div>
				</div>

			</div>
		</div>
		<div class="arrow">
		    <span></span>
		    <span></span>
		    <span></span>
		</div>

	</section>

    <!-- 1st -->
	<!-- Revenue Loss -  "RevenueLoss" -->

	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box1">

					<div class="left">
						<div class="mid">
							<h1 style="color:white;">SALES GROWTH</h1>
							<p style="text-align: justify;color:white;"><i class="fa fa-chevron-circle-right"></i> This is the location filtered, aggregated  sales
								 growth of all common categories for the last 24 months.The data for each month is taken relative to that of previous 
								 month.</p>
								
								 <div style="position: absolute; bottom: 2px; font-size: small;color:white;">
									ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								</div>	
						</div>
					</div>

					<div class="right" style="padding: 0 5vw 0 2vw;">
						<div class="mid">
							<div id="lineChart_c1" style="display: block;"></div>
							<div id="barChart_c1" style="display: none;"></div>
							<div id="areaSpline_c1" style="display: none;"></div>

							<div id ="buttonCtn" style="margin-left: 30%;">
							<!-- Buttons toggle karne ke liye -->
								<button class="btn btn-danger" onclick="showDiv1('lineChart_c1','barChart_c1','areaSpline_c1')">Line Chart</button>
								<button class="btn btn-success" onclick="showDiv2('lineChart_c1','barChart_c1','areaSpline_c1')">Area-Spline Chart</button>
								<button class="btn btn-dark" onclick="showDiv3('lineChart_c1','barChart_c1','areaSpline_c1')">Bar Chart</button>
							</div>
							
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Bar Chart -->
		

		<!-- areaSpline_c Chart -->
		

	</section>

    <!-- 2nd -->
	<!-- Average CardHolder Spent set of graphs -  -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box2">

					<div class="left1">
						<div class="mid">
								<div id="lineChart_c2" style="display: block;"></div>
								<div id="barChart_c2" style="display: none;"></div>
								<div id="areaSpline_c2" style="display: none;"></div>
	
								<div id ="buttonCtn" style="margin-left: 30%;">
								<!-- Buttons toggle karne ke liye -->
								<button class="btn btn-danger" onclick="showDiv1('lineChart_c2','barChart_c2','areaSpline_c2')">Line Chart</button>
								<button class="btn btn-success" onclick="showDiv2('lineChart_c2','barChart_c2','areaSpline_c2')">Area-Spline Chart</button>
								<button class="btn btn-dark" onclick="showDiv3('lineChart_c2','barChart_c2','areaSpline_c2')">Bar Chart</button>
								</div>
								
						</div>
					</div>

					<div class="right1">
						<div class="mid">
							<h1 style="color:black;">AVERAGE CONSUMER SPENDING</h1>
							<p style="color:black;text-align: justify;"><i class="fa fa-chevron-circle-right"></i>This is the location filtered, aggregated spending statistics of card-holders for the last 24 months.The data for each month is taken relative to that of previous 
							month.</p>
							<div style="position: absolute; bottom: 2px; font-size: small;">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		
		<!-- Bar Chart -->
		

		<!-- area spline chart -->
		

	</section>

    <!-- 3rd -->
	<!-- Card Transaction Frequency -->
	<section>
		<!-- line Chart -->
		<div class="page">
			<div class="slide">
				<div class="box3">

					<div class="left">
						<div class="mid">
							<h1> FREQUENCY OF PURCHASES</h1>
							<p style="text-align: justify;"><i class="fa fa-chevron-circle-right"></i>This is the location filtered, aggregated  
								transaction frequency statistics for the last 24 months.The data for each month is taken relative to that of previous 
							month. </p>
							<div style="position: absolute; bottom: 2px;font-size: small;color:white">
								ALL THE DATA IS EXTRACTED FROM THE VISA API AND U.S. GOVT. AFFILIATED APIs
								
							</div>
						</div>
					</div>

					<div class="right" style="padding: 0 5vw 0 2vw;">
						<div class="mid">
								<div id="lineChart_c3" style="display: block;"></div>
								<div id="barChart_c3" style="display: none;"></div>
								<div id="areaSpline_c3" style="display: none;"></div>
	
								<div id ="buttonCtn" style="margin-left: 30%;">
								<!-- Buttons toggle karne ke liye -->
								<button class="btn btn-danger" onclick="showDiv1('lineChart_c3','barChart_c3','areaSpline_c3')">Line Chart</button>
								<button class="btn btn-success" onclick="showDiv2('lineChart_c3','barChart_c3','areaSpline_c3')">Area-Spline Chart</button>
								<button class="btn btn-dark" onclick="showDiv3('lineChart_c3','barChart_c3','areaSpline_c3')">Bar Chart</button>
								</div>
								
							
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Bar Chart -->
		
		<!-- areaSpline_c Chart -->
		
	</section>

</div>


<!-- Vertical & Horizontal slider for analysis and comparison pages -->
<script type="text/javascript" src="/script/slider.js"></script>

<!-- Script for graphs -->
<script type="text/javascript" src="/graphs/comparison/lineChart.js"></script>
<script type="text/javascript" src="/graphs/comparison/areaChart.js"></script>
<script type="text/javascript" src="/graphs/comparison/barChart.js"></script>

<script>

	new WholePageSlider({
		colors: ['#c0392b', '#e67e22', '#f39c12', '#f1c40f', '#000000', '#7F7FD5']
	});

    var parsed_data = <%- JSON.stringify(data) %>;

</script>


<script type="text/javascript" src="/analysis/comparison.js"></script>


<%- include ('../partials/footer') %>