	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	<!-- link for us-map -->
	<script src='https://newsignature.github.io/us-map/js/libs/raphael.js'></script>
	<script src='https://newsignature.github.io/us-map/js/libs/jquery.usmap.js'></script>
	<script src="/script/stateMap.js"></script>
	<!-- link for nav.js -->
	<script src="/script/nav.js"></script>
	<!-- j vector -->
	<script src="/jvector/jquery-jvectormap-2.0.5.min.js">
	</script>
    <script src="/jvector/jquery-jvectormap-world-merc.js"></script>


</body>
</html>