<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title> <%= title %></title>

	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- Step 1) Load D3.js -->
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://d3js.org/topojson.v1.min.js"></script>

	<!-- Step 2) Load billboard.js with style -->
	<script src="/script/billboard.min.js"></script>

	<!-- Load with base style -->
	<link rel="stylesheet" href="/stylesheets/billboard.min.css">

	<!-- Or load different theme style -->
	<link rel="stylesheet" href="/stylesheets/insight.min.css">

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Barlow:400,500|Bree+Serif|Quicksand:300,400|Rubik:400,500"
		rel="stylesheet">

	<!-- Vertical & Horizontal slider for analysis and comparison pages -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/slider.css">

	<!-- Stylesheet for US map -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/stateMap.css">
	<!-- stylesheets for navbar -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
	<!-- j vector map -->
	<link rel="stylesheet" href="/jvector/jquery-jvectormap-2.0.5.css" type="text/css" media="screen" />
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="/jvector/jquery-jvectormap-2.0.5.min.js">
	</script>
    <script src="/jvector/jquery-jvectormap-world-merc.js"></script>
	<link rel="stylesheet" href="/stylesheets/worldmap.css">
	<!-- buttons styling in graph -->
	<link rel="stylesheet" href="/stylesheets/button.css">
	<script src="/script/buttons.js"></script>

</head>

<body>
	