<%- include('./header') %>

    <!-- Modal for Pincode -->
    <div class="modal fade" id="stateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelState"
        aria-hidden="true" style="color: black;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabelState">State Analysis</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/analysis/state" method="GET">
                        <div class="col-lg-12">
                            <p>Enter the state code:- </p>
                            <input type="text" class="form-control" name="state_code" required>
    <!--                         <select class="form-control" name="pin_code" required>
                                <option value="10001">10001</option>
                                <option value="10001">10001</option>
                                <option value="10001">10001</option>
                                <option value="10001">10001</option>
                                <option value="10001">10001</option>
                            </select> -->
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-success" style="width:100%;">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p style="color:red; font-size:medium;"> Most Affected States are - New York, Texas,California</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->


    <!-- Modal for MSA -->
    <div class="modal fade" id="msaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelMsa"
        aria-hidden="true" style="color: black;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabelMsa">Metropolitan Statistical Analysis</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/analysis/msa" method="GET">
                        <div class="col-lg-12">
                            <p>Enter the MSA code:- </p>
                            <input type="text" class="form-control" name="msa_code" required >
    <!--                         <select class="form-control" name="pin_code" required>
                                <option value="10001">10001</option>
                                <option value="10001">10001</option>
                                <option value="10001">10001</option>
                                <option value="10001">10001</option>
                                <option value="10001">10001</option>
                            </select> -->
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-success" style="width:100%;">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p style="color:red; font-size:medium;"> Most Affected MSA's are - 7602,1920,640,559</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->


    <!-- Modal for Comparison -->
    <div class="modal fade" id="compareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelCompare"
        aria-hidden="true" style="color: black;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabelCompare">Comparison of States / Pincodes / MSA</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <script src="/script/addInput.js" language="Javascript" type="text/javascript"></script>
                    <form action="/compare" method="GET">
                        <div class="col-lg-12">
                            <p>Enter the following:- </p>
                            <select class="form-control" name="level" required>
                                <option>Select the level for analysis</option>
                                <option value="state">State</option>
                                <option value="pincode">Pincode</option>
                                <option value="msa">MSA</option>
                            </select>
                            <div id="dynamicInput">
                                <input type="text" class="form-control mt-2" name="code1" placeholder="Area 1" required>
                                <input type="text" class="form-control mt-2" name="code2" placeholder="Area 2" required>
                            </div>
                            
                            <input type="button" class="btn btn-light" value="Add another area" style="width:100%;" onClick="addInput('dynamicInput');">

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-success" style="width:100%;">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p style="color:red; font-size:medium;">Select the level at which you want to compare and then enter area.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->


    <header>
        <div class="container">
            <div class="logo">APP</div>
            <div class="dropb">
                <div class="mid"><i class="fa fa-navicon"></i></div>
            </div>
            <div class="tags">
                <a href="/">Home</a>
                <!-- <a href="#">About</a> -->
                <a href="#msaModal" data-toggle="modal">MSA</a>
                <a href="#stateModal" data-toggle="modal">State</a>
                <a href="#compareModal" data-toggle="modal">Compare</a>
                <a href="#">Our Team</a>
            </div>
        </div>
    </header>
    